<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>Resultado</title>
</head>
<body class="bg-gray-800">
    
    <div class="grid grid-cols-4">
        <p class="text-5xl place-self-center col-span-4 mt-4 mb-8 text-gray-400">Resultado</p>

        <div class="grid grid-cols-9 col-start-2 col-span-2 text-gray-500">
            
            <div class="grid grid-cols-3 col-span-3 border border-black bg-black ">
                <p class="py-4 px-5 justify-self-center">{{ n1_f1 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n2_f1 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n3_f1 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n1_f2 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n2_f2 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n3_f2 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n1_f3 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n2_f3 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n3_f3 }}</p>
            </div>

            <div class="grid grid-cols-3 col-span-3 border border-black mx-1 bg-black">
                <p class="py-4 px-5 justify-self-center">{{ n4_f1 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n5_f1 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n6_f1 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n4_f2 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n5_f2 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n6_f2 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n4_f3 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n5_f3 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n6_f3 }}</p>
            </div>

            <div class="grid grid-cols-3 col-span-3 border border-black bg-black">
                <p class="py-4 px-5 justify-self-center">{{ n7_f1 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n8_f1 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n9_f1 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n7_f2 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n8_f2 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n9_f2 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n7_f3 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n8_f3 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n9_f3 }}</p>
            </div>

            <div class="grid grid-cols-3 col-span-3 border border-black my-1 bg-black">
                <p class="py-4 px-5 justify-self-center">{{ n1_f4 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n2_f4 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n3_f4 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n1_f5 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n2_f5 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n3_f5 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n1_f6 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n2_f6 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n3_f6 }}</p>
            </div>

            <div class="grid grid-cols-3 col-span-3 border border-black mx-1 my-1 bg-black">
                <p class="py-4 px-5 justify-self-center">{{ n4_f4 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n5_f4 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n6_f4 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n4_f5 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n5_f5 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n6_f5 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n4_f6 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n5_f6 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n6_f6 }}</p>
            </div>

            <div class="grid grid-cols-3 col-span-3 border border-black  my-1 bg-black">
                <p class="py-4 px-5 justify-self-center">{{ n7_f4 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n8_f4 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n9_f4 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n7_f5 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n8_f5 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n9_f5 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n7_f6 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n8_f6 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n9_f6 }}</p>
            </div>

            <div class="grid grid-cols-3 col-span-3 border border-black bg-black">
                <p class="py-4 px-5 justify-self-center">{{ n1_f7 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n2_f7 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n3_f7 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n1_f8 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n2_f8 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n3_f8 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n1_f9 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n2_f9 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n3_f9 }}</p>
            </div>

            <div class="grid grid-cols-3 col-span-3 border border-black mx-1 bg-black">
                <p class="py-4 px-5 justify-self-center">{{ n4_f7 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n5_f7 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n6_f7 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n4_f8 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n5_f8 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n6_f8 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n4_f9 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n5_f9 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n6_f9 }}</p>
            </div>

            <div class="grid grid-cols-3 col-span-3 border border-black bg-black">
                <p class="py-4 px-5 justify-self-center">{{ n7_f7 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n8_f7 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n9_f7 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n7_f8 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n8_f8 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n9_f8 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n7_f9 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n8_f9 }}</p>
                <p class="py-4 px-5 justify-self-center">{{ n9_f9 }}</p>
            </div>

        </div>
    
        
    </div>

</body>
</html>